<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitzky2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".paymnet.CurencyConv"></activity>
        <activity android:name=".Feedback.feedbackRetrieveData" />
        <activity android:name=".Admin_handling_user_profile" />
        <activity android:name=".Product.productRetrieve" />
        <activity android:name=".paymnet.AdminUpdateData" />
        <activity android:name=".paymnet.AdminPaymentHandling" />
        <activity android:name=".paymnet.SuccessMsg" />
        <activity android:name=".paymnet.Verify_OTP" />
        <activity android:name=".paymnet.CreditCardPayment" />
        <activity android:name=".paymnet.Newaddress" />
        <activity android:name=".paymnet.PaymentType" />
        <activity android:name=".Product.UpdateProduct" />
        <activity android:name=".Product.ViewProduct" />
        <activity android:name=".Product.AddProduct" />
        <activity android:name=".Product.ProductMenu" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Feedback.FeedbackManage" />
        <activity android:name=".Discount.UpdateDiscount" />
        <activity android:name=".Discount.ViewDiscount" />
        <activity android:name=".Discount.AddDiscount" />
        <activity android:name=".Discount.DiscountMenu" />
        <activity android:name=".ChangePwdActivity" />
        <activity android:name=".AccountSettingActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AdminCategoryActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>